<p id="notice"><%= notice %></p>

<h1>Learning Logs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= form_tag learning_logs_path, method: 'get' do %>
    <%= label_tag :query %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag :search %>
  <% end %>

  <tbody>
    <% @learning_logs.each do |learning_log| %>
      <tr>
        <td><%= learning_log.title %></td>
        <td><%= learning_log.description %></td>
        <td><%= learning_log.status %></td>
        <td><%= link_to 'Show', learning_log %></td>
        <td><%= link_to 'Edit', edit_learning_log_path(learning_log) %></td>
        <td><%= link_to 'Destroy', learning_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learning Log', new_learning_log_path %>
<%= link_to 'All Learning Logs', learning_logs_path if params[:q] %>
