<%= form_with(model: learning_log_entry) do |form| %>
  <% if learning_log_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(learning_log_entry.errors.count, "error") %> prohibited this learning_log_entry from being saved:</h2>

      <ul>
        <% learning_log_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :learning_log_id %>
    <%= form.text_field :learning_log_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
