<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @learning_log_update.description %>
</p>

<p>
  <strong>Learning log:</strong>
  <%= @learning_log_update.learning_log_id %>
</p>

<%= link_to 'Edit', edit_learning_log_update_path(@learning_log_update) %> |
<%= link_to 'Back', learning_log_updates_path %>
