<nav>
  <ul class="nav">
    <li><%= link_to 'Articles', articles_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to 'Project Updates', project_updates_path %></li>
    <li><%= link_to 'Learning Logs', learning_logs_path %></li>
    <li><%= link_to 'Learning Log Entries', learning_log_entries_path %></li>
  </ul>
</nav>